<br>
<div class="conatiner-nosotros">
    <!-- Descripcion -->
    <div class="card mb-3">
        <img class="card-img-top" src="../../assets/img/logo.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sobre Nostros</h5>
          <p class="card-text"><b>¡Descubre tu portal de salud personalizada ideal</b>! En Medicitas, nos dedicamos a facilitar el acceso a la atención médica especializada conectando a pacientes con una amplia red de médicos especialistas. Nuestra plataforma intuitiva y fácil de usar permite a los usuarios buscar, seleccionar y agendar citas con los mejores médicos según sus necesidades específicas, ofreciendo una experiencia de atención médica sin complicaciones y centrada en el paciente.</p>
          
        </div>
      </div>
    <!-- img -->
    <img class="card-img" src="../../assets/img/Nosotros/testimonio3.jpg" alt="Card image">
    
    <!-- Colaboradores -->
    <div class="card bg-dark text-white">
        <img class="card-img" src="../../assets/img/Nosotros/testimonio4.jpg" alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">Colaboradores</h5>
          <p class="card-text">Conoce A Nuestros Colaboradores</p>
        </div>
      </div>
    <!-- Ricardo -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Nosotros/capi.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ricardo Alvarez</h5>
          <p class="card-text">Encargado del manejo de las citas</p>
          
        </div>
      </div>
    <!-- Perez -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Nosotros/perez.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Diego Perez</h5>
          <p class="card-text">Diseñador de la página nosotros</p>
          
        </div>
      </div>
      <!-- Ponce -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Nosotros/Ponce.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Diego Ponce</h5>
          <p class="card-text">Encargado de Implementar las Api y el diseño de la pagina principal</p>
          
        </div>
      </div>
      <!-- Yo -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Nosotros/yo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sergio Valdivia</h5>
          <p class="card-text">Lider del equipo, encargado del motor de busqueda y del diseño y funcionamiento de las tarjetas de los doctores y de las agendas de la cita com</p>
        </div>
      </div>
       <!-- img -->
       <div class="card bg-dark text-white">
        <img class="card-img" src="../../assets/img/Nosotros/pexels-photo-3259629.jpeg" alt="Card image">
        <div class="card-img-overlay">
          <h5 class="card-title">Testimonios</h5>
          <p class="card-text">Conoce algunos testimonios</p>
        </div>
      </div>
      <!-- Testimonio 1 -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Nosotros/testimonio1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">"Después de recibir un diagnóstico de enfermedad cardíaca, decidí someterme a una operación cardiovascular. A pesar de sentir miedo al principio, opté por seguir adelante. Gracias al cuidado del equipo médico, la operación fue exitosa, y experimenté una mejora significativa en mi salud y bienestar. Mi experiencia me enseñó la importancia de buscar ayuda y considerar todas las opciones disponibles al enfrentar problemas cardíacos. Estoy agradecido por la segunda oportunidad que la cirugía cardiovascular me ha brindado y animo a otros a tomar decisiones informadas sobre su salud cardíaca."</p>
          <p class="card-text"><small class="text-muted">Diana Maciel</small></p>
        </div>
      </div>
      <!-- Testimonio 2 -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/img/Nosotros/testimonio2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">"Después de recibir un diagnóstico que indicaba la necesidad de una cirugía ocular, me enfrenté a la decisión de someterme al procedimiento. A pesar de sentir algo de aprensión al principio, decidí seguir adelante. Gracias al cuidado del equipo médico, la cirugía fue un éxito, y experimenté una mejora notable en mi visión y calidad de vida. Esta experiencia me enseñó la importancia de confiar en los profesionales de la salud y tomar decisiones informadas sobre mi bienestar ocular. Estoy agradecido por la oportunidad que la cirugía ocular me ha brindado y animo a otros a considerar cuidadosamente todas las opciones disponibles para mejorar su salud visual"</p>
          <p class="card-text"><small class="text-muted">Tenoch Huerta</small></p>
        </div>
      </div>

</div>
<br>