<div class="Container-video">
    <p class="h2" style="text-align: center;">La Dieta En Tu Salud</p>
    <p class="h4">Como en MediCitas nos preucupamos por tu salud te dejamos el siguiente video</p>
    <p>Adoptar una dieta basada en plantas, rica en frutas, verduras, legumbres y cereales integrales, ofrece numerosos beneficios para la salud y el bienestar.

        En este sentido, diversos estudios han demostrado que este tipo de alimentación puede reducir el riesgo de enfermedades crónicas como la diabetes tipo 2, las enfermedades cardíacas y algunos tipos de cáncer.
        
        Además, las dietas basadas en plantas suelen ser más bajas en calorías y grasas saturadas, lo que puede contribuir a un peso corporal saludable.
        
        Para profundizar en este tema, te invitamos a ver el siguiente video de la Dra. Joanne Kong, donde expone los beneficios de una dieta basada en plantas</p>
    <br>
    <div style="display: flex; justify-content: center;">
        <iframe width="560" height="315"
        [src]="video | dom:'https://www.youtube.com/embed/' " 
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-inpicture" allowfullscreen>
        </iframe>
    </div>
    
</div>
