.container-formulario{
    width: 600px; 
    margin: 0 auto;
    background-color: white;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .full-width {
    width: 100%; 
  }
  
  .form-group {
    margin-bottom: 20px; 
  }
  