<div class="container-logo">
</div>

<!-- Recoger Correo  -->
<app-formulario></app-formulario>

<!-- Enfermedades Más Comunes  

  <div class="Container-Covid">
    <p class="h2">Casos de Covid</p>
    <blockquote class="blockquote">
        <p class="mb-0">Es crucial seguir al pendiente del COVID incluso si no estamos en pandemia. Las variantes podrían surgir, y la protección comunitaria es clave para prevenir brotes. Además, la investigación continua puede revelar nuevos datos sobre el virus y sus efectos a largo plazo. Mantenernos informados y seguir las medidas de precaución nos ayuda a proteger a nosotros mismos y a los demás..</p>
    </blockquote>
  <br>
  <app-covid-tabla></app-covid-tabla>
</div>

-->


<!-- Video Path -->

<app-video></app-video>

<!--API de enfermedades-->
<app-enfermedad></app-enfermedad>



